.App {
  text-align: center;
  background-image: url("2021-background.f3ce6593.jpg")
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Options-menu {

  background-color: rgb(255, 0, 0);
  height: 100%;
  width: 20%;
}

.BeatBox-layout {
  background-color: rgb(0, 4, 255);
  height: 100%;
  width: 70%;
  margin-left: 5%;
}

.keyboard {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.key {
  background-color: white;
  height: 250px;
  width: 60px;
  border: 2px solid black;
}

.key.sharp {
  position: relative;
  background-color: black;
  margin-left: -17px;
  margin-right: -17px;
  height: 125px;
  width: 30px;
  z-index: 2;
}

.key.pressed, .key.sharp.pressed {
  background-color: lightblue;
}